.about-section {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #dd8aa0;
  height: 100%;
  width: 100vw;
  color: rgb(46, 46, 46);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  margin-top: 60px;
  z-index: 2;
}

.about-title {
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: 'Rockabye', 'Times New Roman', Times, serif;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: -10px;
}

.about-subtitle {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 22px;
}
.logo {
  width: 340px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:hover {
  text-decoration: line-through;
  text-transform: uppercase;
}

.about-container {
  display: flex;
  border-style: double;
  padding: 10px 100px 20px 10px;
}

.about-para {
  width: 400px;
  margin-top: 20px;
  text-align: justify;
}

.skills-section {
  margin-top: 20px;
  display: flex;
  border-style: double;
  padding: 20px 20px 10px 10px;
  max-width: 820px;
  justify-content: center;
}

.skills-section p {
  margin-top: -5px;
  font-weight: bold;
  margin-left: 15px;
}

.icon-line-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 35px;
  padding-right: 35px;
}

.single-icon-wrapper {
  display: flex;
  flex-direction: column;
  // margin-left: 10px;
  align-items: center;
}

.icon {
  margin-left: 15px;
  margin-bottom: 10px;
}

