.about-section {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #dd8aa0;
  height: 100vh;
  width: 100vw;
  // padding: 40px;
  color: rgb(46, 46, 46);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.about-title {
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: 'Rockabye', 'Times New Roman', Times, serif;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.logo {
  width: 340px;
}

.about-container {
  display: flex;
  border-style: double;
  padding: 20px 100px 20px 10px;
}

.about-para {
  width: 400px;
  margin-top: 20px;
}
