.contact-section {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #dd8aa0;
  height: 94vh;
  width: 100%;
  overflow: hidden;
  color: rgb(46, 46, 46);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  margin-top: 60px;
  z-index: 2;
}

.contact-title {
  font-family: 'Rockabye', 'Times New Roman', serif;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: double;
  padding: 20px 120px 40px 120px;

}

img.profilepic {
  width: 200px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  filter: grayscale(100%);
  opacity: 0.8;
  margin-bottom: 20px;
}

.contact-options {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.icon-contact {
  margin-right: 10px;
}

a.contact-option {
  font-size: 18px;
}

.contact-links {
  font-size: 20px;
}