.experience-section {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #dd8aa0;
  height: 100vh;
  width: 100vw;
  color: rgb(46, 46, 46);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  margin-top: 60px;
  z-index: 2;
}

.experience-title {
  font-family: 'Rockabye', 'Times New Roman', serif;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.experience-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: double;
  padding: 20px 60px 20px 60px;
  text-align: justify;
  width: 700px
}

h2.experience-name {
  text-align: left;
  font-size: 21px;
  letter-spacing: 2px;
}
h3.experience-subtitle {
  color: white;
  margin-top: -15px;
  font-size: 14px;
}

.galogo {
  margin-right: 40px;
  width: 300px;
}