.splash {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: #dd8aa0;
  display: flex;
  justify-content: center;
  font-family: 'Rockabye', 'Times New Roman', Times, serif;
  font-size: 42px;
  color: rgb(46, 45, 45);
  flex-direction: column;
  align-items: center;
}


.splash-container {
  border: rgb(46, 46, 46);
  border-style: double;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 160px 50px 160px;
}

.splash-subtitle {
  font-family: 'Poppins', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  margin-top: -1px;
  color: rgb(248, 248, 248);
  letter-spacing: 4px;
}

.enter-btn {
  width: 140px;
  border-radius: 25px;
  border: 2px solid rgb(46, 46, 46);
  font-family: 'Poppins', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: lowercase;
}
.enter-btn a {
  text-decoration: none;
  color: rgb(46, 46, 46);
}

.splash-logo {
  width: 180px;
}