.navbar {
  background-color: rgb(46, 46, 46);
  padding: 10px 5px 10px 10px;
  width: 100%;
  overflow: hidden;
}

.navlogo {
  border-radius: 15px;
}

.nav-div {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-links {
  text-transform: lowercase;
  margin-left: 10px;
  color: white;
}

a.nav-link {
  margin-left: 5px;
  margin-right: 5px;
}
a.nav-link:hover {
  text-decoration: line-through;
  letter-spacing: 5px;
  text-transform: uppercase;
}