.project-section {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #dd8aa0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: rgb(46, 46, 46);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  margin-top: 60px;
  z-index: 2;
}

.project-title {
  font-family: 'Rockabye', 'Times New Roman', serif;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  // margin-bottom: -10px;
}

.tech-subtitle {
  margin-top: -10px;
}

.project-container {
  display: flex;
  margin-bottom: 50px;
}

.image {
  border: double;
  filter: grayscale(0%);
}
.image:hover {
  filter: grayscale(100%);
}


.project-name {
  font-size: 24px;
  letter-spacing: 2px;
}

.project-name a {
  color: rgb(46, 46, 46);
  text-decoration: underline;
}
.project-links a:hover {
  color: rgb(46, 46, 46);
  text-decoration: line-through;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
}
.project {
  margin-left: 20px;
}

.project-btn {
  width: 180px;
  border-radius: 25px;
  border: 2px solid rgb(46, 46, 46);
  font-family: 'Poppins', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.readme-btn {
  width: 180px;
  border-radius: 25px;
  border: 2px solid rgb(46, 46, 46);
  font-family: 'Poppins', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-link {
  color: rgb(46, 46, 46);
  display: flex;
  align-items: center;
}
.readme-link {
  color: rgb(46, 46, 46);
  display: flex;
  align-items: center;
}

.icon-portfolio {
  margin-right: 5px;
}
.tech-subtitle {
  color: white;
  font-size: 16px;
}

.image-container {
  margin-left: 20px;
}

.project-para {
  margin-left: 50px;
  max-width: 500px;
  text-align: justify;
}